<?xml version="1.0"?>
<model>
  <name>uwb_beacon</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Angela Rider Jimenez / Jose Francisco Lopez Ruiz</name>
    <email>josloprui6@alum.us.es</email>
  </author>

  <description>
    A model of an UWB Beacon based on the BlueView M450 FLS. Credits to Brian Bingham for the model.
  </description>

</model>
